button {
    background-color: orange;
    border-radius: 10px;
    border: 10px solid orange;
    padding: 10px 20px;
    margin-bottom: 40px;
    word-wrap: break-word;
    opacity: 0.8;
    transition: 0.4s;
    margin-top: 40px;
}

button:hover {
    opacity: 1;
}