td, th{
    height: 1vh;
    width: 15vw;
    margin: 5px;
    padding: 5px;
    text-overflow: ellipsis;
}

td {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.bg-gray {
    background-color: gray;
}

.bg-orange {
    background-color: orange;
}